<%= form_for @product do |f| %>
  <%= render partial: "layouts/errors", locals: {record: @product}  %>
    <h1><%= f.label :name %></h1>
    <%= f.text_field :name %>
    <h1><%= f.label :price %></h1>
    <%= f.number_field :price %>
    <h1><%= f.label :details%></h1>
    <%= f.text_area :details %>
    <h1><%= f.label :description %></h1>
    <%= f.text_area :description, cols: 40, rows: 10 %>
    <h1><%= f.label :category %></h1>
    <%= f.text_field :category %> 
    <h1><%= f.label :image%></h1>
    <%= f.text_field :image %>  
    <h1><%= f.label :brand_id %></h1>
    <%= f.collection_select :brand_id, Brand.all, :id, :name %><br>
    <h2><%= f.submit %></h2>
  <% end %>