
<h1> Name </h1>
<h1><%= @product.name %></h1><br>
<h3> Price </h3>
<%= number_to_currency(@product.price) %><br>
<%= image_tag @product.image, width: "550" %><br>
<h3> Details </h3>
<%= @product.details %><br>
<h3> Description </h3>
<%= @product.description %><br>
<h3> Category </h3>
<%= @product.category %><br>
<button <%= button_to "Edit #{@product.name}", edit_product_path(@product), method: :get %></button><br>
<button <%= button_to "delete #{@product.name}", @product, method: :delete %></button>
<% @product.reviews.each do |review| %>
   <p> Review: <%= review.content %></p>
   <p> Name: <%= review.user.name %></p>
    <p><%= pretty_time(review.created_at) %></p>
    <% if review.user == current_user %>
      <button <%= button_to "Edit Review", edit_review_path(review), method: :get %></button><br>
      <button <%= button_to "Delete Review", review, method: :delete %></button>
    <% end %>
<% end %>
<%= render "reviews/form" %>
  